<form class="flexcol">
  <div class="form-group">
    <label for="timerType">Type</label>
    <select id="timerType" name="timerType" onchange="changeTimerFormVisibility(this.value)">
      <option value="Down" selected>Count Down</option>
      <option value="Up">Count Up</option>
    </select>
  </div>
  <div class="form-group">
    <label for="timerDescription">Description</label>
    <input type="text" name="timerDescription" value="" placeholder="Optional" maxlength="150">
  </div>


  <div class="form-group">
    <label class="showIfCountdown" for="timerDuration" style="min-width: 200px;">Duration (sec)</label>
    <input class="showIfCountdown" type="number" name="timerDuration" value="{{duration}}">
  </div>
  <div class="form-group">
    <label class="showTimerTick" for="timerTick">Enable 10s ticks?</label>
    <input class="showTimerTick" type="checkbox" id="timertick0" name="timerTick" onClick="unchecktickingsound(this)" {{#if tick}} checked {{/if}}>
  </div>
    <div class="form-group">
    <label class="showTimerTick" for="timerSecondTick">Enable every second tick?</label>
    <input class="showTimerTick" type="checkbox" id="timertick1" name="timerSecondTick" onClick="unchecktickingsound(this)" {{#if ticksecond}} checked {{/if}}>
  </div>
  <div class="form-group">
    <label class="showIfCountdown" for="timerEnd">Enable end sound?</label>
    <input class="showIfCountdown" type="checkbox" name="timerEnd" {{#if end}} checked {{/if}}>
  </div>


  <div class="form-group">
    <label for="timerPrivate">Private timer?</label>
    <input type="checkbox" name="timerPrivate" {{#if private}} checked {{/if}}>
  </div>

  <div class="form-group">
    <label class="showIfCountdown" for="timerExpireMessage">End message</label>
    <input class="showIfCountdown" type="text" name="timerExpireMessage" value=""
      placeholder="Message to be sent on expire">
  </div>

  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit">
      <i class="fa fa-clock"></i> Start timer
    </button>
  </footer>
</form>
<script>
  function changeTimerFormVisibility(type) {
    if (type == "Up")
      $(".showIfCountdown").css('display', 'none');
    else
      $(".showIfCountdown").css('display', 'block');
  }
  function unchecktickingsound(obj){
	var checkname = document.getElementsByClassName("showTimerTick");
	var checked = document.getElementById(obj.id);
	if (checked.checked) {
		for (var i = 0; i < checkname.length; i++) {
			if (!checkname[i].checked){
				checkname[i].disabled = true;
			} else {
				checkname[i].disabled = false;
				}
			}
		} else {
			for (var i = 0; i < checkname.length; i++) {
			checkname[i].disabled = false;
			}
		}
	}

</script>